{% extends "dojo/layout.html" %}

{% block content %}

<p>{{name}}</p>

<form action = "" method = "get">
    <input type='text' name="q" value = "{{ q }}"/> 
    <!--맨처음 {{q}}안먹혔던이유 : views.py에서 렌더에서 'q':q 를 안해줬으니까 당연. -->
    <input type="submit" value = "검색하긷"/>
</form>

<ul>
<!-- 이게 렌더링된 값을 가져오는 방법임. 중괄호두개로    -->
{% for post in post_list %}
    <li>
        {{ post.id }}
        <a href = "{% url "dojo:post_detail" post.id %}">
        {{ post.title }}
        </a>
        <!-- 이렇게 쓰는건 URL reverse안할때.
        <a href="/dojo/{{ post.id }}">
        {{ post.title }}
        </a>
        -->
         <br>
        
        <small>{{ post.updated_at }}</small>
    </li>
{% endfor %}
</ul>
{% endblock %}

