{% extends "dojo/layout.html" %}
{% block title %}
{{ post.title }}
<!--여긴 탭에 떠있는 타이틀. -->
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
                    <div class="col-sm-12">
                        <h1>{{ post.title }}</h1>
                    
                    {#이렇게 쓰지마라. 변경될수잇기때문.media는#}
                    {#<img src ="/media/{{ post.photo }}" style="max-width:100%;"/>#}
                    {# if문 안써쭈면 포토안올린 겟시글은 오류뜸. post.photo가 문자열이기에 이런검사가능. #}
                    {% if post.photo %}
                    <img src ="{{ post.photo.url }}" style="max-width:100%;"/>
                    {% endif %}
                    {{ post.content|linebreaks }}
                    <!--line breaks써주면 html 개행 무시하던걸 안무시하게 해줌. -->


                    <h3>Comments</h3>
                    <ul>
                    {% for comment in  post.comment_set.all %}
                    <li>
                        {{ comment.message }}
                        {{ comment.author }}
                        {{ comment.updated_at}}
                    </li>
                    {%endfor%}
                    </ul>
            <hr/>
            <a href ="{% url "dojo:post_list2" %}" class="btn btn-primary">목록으로 돌아가기</a>
            <a href ="{% url "dojo:post_edit" post.id %}" class="btn btn-default">수정하기</a>
        </div>
    </div>
</div>  
 
{% endblock %}
